/target
**/*.rs.bk
core*
tmp
build
docs/*.json
docs/*.html
cscope.in.out
cscope.po.out
cscope.out
cscope.files
*.log
logfile
.coverage_data
cover_html
*.tar.bz2
sapi_manifests/registrar/template
config.toml
/make_stamps
/bits
*.tar.gz
/rust
