[log]
level = "info"

[server]
host = "0.0.0.0"
port = 2030

[metrics]
host = "0.0.0.0"
port = 3020

[database]
user = "postgres"
host = "127.0.0.1"
port = 5432
database = "boray"
application_name = "boray"
tls_mode = "disable"

[cueball]
max_connections = 64
claim_timeout = 500 # milliseconds
# Time to delay when an action that would trigger a rebalancing of the pool
# connections is received. The purpose of the delay is to avoid minimize to work
# needed for connection pool rebalancing when multiple actionable events occur
# in rapid succession.
rebalancer_action_delay = 100 # milliseconds

[tokio]
# It's best to omit this from your config file and use the default which is the
# number of logical cores. This is here primarily to demonstrate it can be
# set. Only set core_threads if you are certain about what you are doing.
core_threads = 4
blocking_threads = 200
# This is here primarily to demonstrate it can be set. If it is omitted the
# default behavior is to disable keep alive for threads.
thread_keep_alive = 60
thread_stack_size = 2097152
thread_name_prefix = "boray-worker-"
